.hidden { display: none; }
.active { display: block; }

body {
  background-color: #1b1b1b;
  color: #ffffff;
}

#navbar {
  background: #1b1b1b;
  padding: 1rem;
  text-align: center;
}

.nav-btn {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #707070;
}

.content-section {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;           
  gap: 2rem;               /* space between text and the image */
  align-items: center;     /* to center */
}


.text-content {
  flex: 1;                
}


.section-image {
  flex: 1;               
  max-width: 50%;          
  height: auto;            
  border-radius: 8px;      
}


